[2015-07-30 20:48] q2dg opened #1 "This library doesn't appear in https://www.arduino.cc/en/Reference/Libraries"
Thanks

[2015-09-25 07:27] agdl commented on #1
@q2dg it is there now, close this issue please!

[2015-09-25 07:36] #1 closed

[2015-12-26 12:43] cavemoa opened #4 "Incorrect hour rollovers on Adafruit Feather M0 board."
Hi, have just started using your library on the adafruit Feather M0 board which has a SAMD21.

I get some strange behavior with the roll over of hours when I set the using the simplertc example:

12:00:00 rolls over to 28:00:00 !
28:59:59 then rolls over directly to 17:00:00
It then runs correctly for a few hours to 23:59:59 which rolls over to 24:00:00 and does not increment the day/date.

Anothe

[2015-12-27 18:08] GabrielNotman commented on #4
The register bit RTC.MODE2.CTRL.CLKREP is being set incorrectly.
That bit should only be set for 12hr mode.

In 12 hour mode, the highest bit is used to specify AM/PM. If this is read as a 24 hour value, it results in all PM values having 16 added to them.

[2015-12-31 15:30] sandeepmistry commented on #4
@GabrielNotman is this resolved now that #3 has been merged?

(In particular this line https://github.com/arduino-libraries/RTCZero/pull/3/files#diff-6ed0013c42219b7dc3d3d5d163434a8fR55)

[2015-12-31 15:33] GabrielNotman commented on #4
I haven't test the post merge version.
But, yes It should be.

[2015-12-31 16:35] sandeepmistry commented on #4
@GabrielNotman yes, looks good to me. I tried the following initial time values with the ```SimpleRTC``` examples:

[code]

[code]

With ```1.3.1``` saw the same issues @cavemoa noted, with ```1.4.0``` rollover works as intended.

@cavemoa could you please try the latest release (```1.4.0```)?

[2015-12-31 17:06] cavemoa commented on #4
Yes all seems good post merge to me.

[2015-12-31 17:28] sandeepmistry commented on #4
@cavemoa great! Thanks for verifying!

[2015-12-31 17:28] #4 closed

[2016-01-09 11:57] xseignard opened #6 "Multiple alarms"
Hello,
I would like to know if it is possible to set multiples alarms, and how?

Best regards,

Xavier

[2016-01-12 14:55] GabrielNotman commented on #6
In MODE 2 (Calendar) the samd21 only supports a single alarm.

[2016-01-12 15:31] xseignard commented on #6
Hello @GabrielNotman
So is there any way to handle more than one alarm? e.g. using another mode?
Is there any docs out there?

Regards

Xavier

[2016-01-13 09:41] cavemoa commented on #6
Hi xseignard,

The SAMD21 RTC does have two other modes but neither is directly supported in the Arduino RTCzero library as far a I can see. They are both counter modes one 16bit and one 32. They are more flexible than the calendar in that they can have multiple compare values (ie multiple alarms). 16bit can have 6 compare values for example

Have a look at http://asf.atmel.com/docs/latest/samr21/

[2016-01-14 23:25] GabrielNotman commented on #6
Looking at the SAMD21 datasheet:
http://www.atmel.com/images/atmel-42181-sam-d21_datasheet.pdf

Mode0 (32bit counter) supports a single compare.
Mode1 (16bit counter) supports two compares.
Mode2 (Calendar) supports a single alarm.

This library is designed to provide clock functionality and can only operate correctly when using Mode2. If you need to schedule multiple tasks at varying intervals, I

[2016-01-15 14:37] agdl commented on #6
Yes like suggested by @GabrielNotman the easiest way to have multiple alarms is to have something that can be for example a matrix or better a structure in which you write the alarms you want to have and every time the highest alarm is reached the next one will be setted. I can easily implement it and provide an example. I would prefer to have a fixed maximum number of alarms (let's say 6 instead

[2016-01-15 14:43] agdl commented on #6
Edit i will do it dynamically with a function called something like setNumberOfAlarms(int numberOfAlarms)

[2016-01-15 15:57] xseignard commented on #6
Hello everybody!
Thanks for taking the time to provide support.

I need to create a counter, decrementing every minutes, and to provide the ability for the end user to set an alarm (be it one month after the counter started). All of that consuming the lowest power possible to reduce the size of the battery.

I think something like an every minute interrupt will do the trick, with a volatile keepin

[2016-01-15 19:17] agdl commented on #6
I've added the multiple alarms functionality. Please let me know how it seems to you. If it looks good I will make the new release of the library!

[2016-01-15 19:33] GabrielNotman commented on #6
I really don't think this should to be part of the core library.
This can be done outside of the library just as easily.
Also how does this work with recurring alarms (the match mask)?

[2016-01-15 20:02] drewfish commented on #6
I also think that it shouldn't be part of this library, and instead a separate library. A general "alarm multiplexer" library might be useful -- something that would enable multiple software alarms based on a single hardware alarm. (For the Arduino Zero it could be used for the TC or TCC alarms for example.)

[2016-01-16 10:52] agdl commented on #6
@GabrielNotman @drewfish sorry but I'm not understanding if your comments are referred to my commit or to the request of @xseignard !

[2016-01-16 15:22] drewfish commented on #6
@agdl I was referring to commit 863adf2. I was thinking it might be nice to have a separate generic library (separate from RTCZero) which is able to use a single hardware alarm and provide multiple virtual alarms based on that. Similar to commit 863adf2, but made generic so that it can be used for any hardware alarm.

However now that I've thought about it more the "can be used for any hardware al

[2016-01-16 17:03] GabrielNotman commented on #6
@agdl I was also referring to commit https://github.com/arduino-libraries/RTCZero/commit/863adf2ce8e02a2f25e40f735db53efd9aaa538e.

It is my opinion that this feature does not belong in the clock library. It can be done externally by just scheduling the next alarm every time an alarm callback is received.

Additionally, all alarms (except MATCH_YYMMDDHHMMSS) are periodic, with the period varying b

[2016-01-18 08:06] agdl commented on #6
@cmaglie @facchinm what do you think about this? Have I to revert the commit and insert this feature somewhere else?

[2016-01-22 11:06] agdl commented on #6
After an internal discussion I reverted this repository to remove the SW multiple alarms implementation. However I have this implementation on my fork https://github.com/agdl/RTCZero/tree/MultipleSWAlarms if someone needs it.

From the discussion on this issue I can understand that this issue can be closed. Please reopen it if needed.

[2016-01-22 11:06] #6 closed

[2016-03-19 13:25] bborncr opened #7 "Option to"
By commenting out line 49 (//RTCReset();) in RTCZero.cpp the date/time remains persistent even through firmware updates and manual resets as long as power to the chip is maintained.

So far, it seems to be working just fine.  Is there a potential issue that I should be aware of?

Thanks,

[2016-03-24 17:05] GabrielNotman commented on #7
I've created a pull request (#8) which among other additions includes an attempt to preserve the existing clock time. It does it slightly different than your suggestion, however, it should have the same result.

[2016-03-31 12:15] agdl commented on #7
@GabrielNotman thank you for your PR. I'm going to tag a new release to include our changes. @bborncr try it and if it is ok for you close the issue please!

[2016-03-31 16:27] bborncr commented on #7
We tested the changes and they work fine. You can close the issue.

Thanks!

On Thu, Mar 31, 2016 at 6:15 AM, Arturo Guadalupi <notifications@github.com>
wrote:

--
Bentley Born
CRCibernetica.com
Tel. (506) 2258-5757 x111
Cel. (506) 8896-7539
bentley@ <bentley@gridshield.net>crcibernetica.com

[2016-04-01 07:11] #7 closed

[2016-05-13 08:27] madvoid opened #9 "standbyMode() needs clocks to be turned off?"
Hi,

I was reading the SAM D21 datasheet and I noticed that when placed into Standby mode, a significant amount of clocks and peripherals must be disabled, so that the voltage regulator is not overloaded (see section 16.6.2.8). However, the `standbyMode()` function in RTCZero doesn't appear to do that. It sets the deep sleep mask and goes directly to sleep. Am I missing something? Should code be a

[2016-05-31 19:56] sandeepmistry commented on #9
Hi @madvoid,

I think the current approach is fine, because none of the peripherals a enabled in standby mode in the SAMD core. By default the peripherals and clocks are not enabled in standby mode.

[AT11491: Peripheral Power Consumption in Standby Mode for SAM D Devices](http://www.atmel.com/Images/Atmel-42472-Peripheral-Power-Consumption-in-Standby-Mode-for-SAM-D-Devices_ApplicationNote_AT6490.

[2016-05-31 23:05] madvoid commented on #9
Hello @sandeepmistry,

That makes perfect sense, thank you! I'm going to mark this as closed.

[2016-05-31 23:05] #9 closed

[2016-07-08 17:23] GabrielNotman opened #10 "Release v1.5.0"
Can we get the version v1.5.0 submitted to Arduino Library manager.

Currently, the latest version available is v1.4.3.

[2016-07-21 12:51] lorenzoromagnoli opened #11 "rtc.begin() is not needed"
I was trying to use the rtc library while debugging a different issue related to the wifi library.
my MKR1000 was getting stuck executing the function setEpoch(), because no rtc.begin() was called before.

The board was getting stuck and I was even unable to upload a new sketch without resetting it. It took me an hour to figure out that I was missing the begin function.

Since you cannot pass any

[2016-07-21 13:02] sandeepmistry commented on #11
To me this is dangerous, because the initialization order is not guaranteed

This is definitely a better option for me.

[2016-07-22 08:22] agdl commented on #10
Done!

https://github.com/arduino-libraries/RTCZero/releases/tag/1.5.0

[2016-07-22 08:22] #10 closed

[2016-07-22 10:14] GabrielNotman commented on #10
The version number in _libraries.properties_  still needs to be updated to 1.5.0
https://github.com/arduino-libraries/RTCZero/blob/master/library.properties

[2016-07-22 10:23] GabrielNotman commented on #11
The issue you encountered was due to the methods attempting to write to the _CLOCK_ register before the _RTC_ was configured. Whenever the _CLOCK_ register is modified, the library then waits until the register is synchronised. In cases when the _RTC_ has not been configured, the synchronisation is never completed, resulting in the method entering an endless loop.

In version 1.5.0, this is no lon

[2016-07-22 11:00] agdl commented on #10
Sorry, forgot to push the commit. Is ok now

[2016-08-22 20:40] BallscrewBob opened #12 "BSOD in Arduino create with MKR1000"
If I upload the sketch from either CREATE or a regular IDE and then open the CREATE serial monitor this will cause a BSOD every time. Amount of time to BSOD can be anywhere from a couple of hours to less than 12.

Using an MKR1000 and AMD quad core, Win 7 X64 Pro.
This is the only sketch that does it but I have to note there are other issues with the MKR randomly halting (2 hrs to a max of 3 days)

[2016-08-22 21:27] sandeepmistry commented on #12
Thanks @BallscrewBob.

@facchinm or @agdl is there a Win 7 machine in the office that someone can use to try to reproduce this issue?

Sketch that causes the issue is: https://create.arduino.cc/editor/Ballscrewbob/7baa3b59-26ae-4bce-8e4e-1ed6f1c10d60/preview which I think is just the [SimpleRTC.ino](https://github.com/arduino-libraries/RTCZero/blob/master/examples/SimpleRTC/SimpleRTC.ino) example.

[2016-08-31 17:11] sandeepmistry commented on #12
Hi @BallscrewBob,

Sorry for the lack of updates on this. Unfortunately, there is no Windows 7 PC in the office for someone to try to reproduce this issue. (PC's were upgraded to Windows 10).

Does this still happen if you use https://github.com/arduino/ArduinoCore-samd/pull/154?

[2016-09-09 08:34] yzliao opened #14 "Is it possible to run RTC at ms level?"
I want to acquire data every 100ms. Is it possible to implement this by using RTC library?

Thank you!

[2016-09-12 14:58] sandeepmistry commented on #14
Hi @yzliao,

It would be possible if you change the prescaler the code uses, but then seconds won't be really seconds.

I think a much better option would be to use michael71's Timer5 library: https://github.com/michael71/Timer5

[2016-09-12 14:58] #14 closed

[2016-09-14 02:19] BallscrewBob commented on #12
Just upped from B88 to B97.

B88 was still BSOD in CREATE mainly under two hours.
Going to try under IDE 1.6.11 to check. Be back in 48 hours (or less if fail)

[2016-09-14 14:01] sandeepmistry commented on #12
Hi @BallscrewBob,

The behaviour with Create is expected (same as you are experiencing before), since using https://github.com/arduino/ArduinoCore-samd/pull/154 is something only the regular IDE uses. (Just wanted to clarify this, please ignore if you already knew this.)

[2016-09-15 02:13] BallscrewBob commented on #12
Yup had figured that out. I can do a BSOD on demand almost with CREATE and RTC.

However it also stalls on the MKR in IDE 1.6.11
Start time was 12:11:55
Stall time was 17:41:23

Started a new run and will report when I have details.

[2016-09-15 13:52] sandeepmistry commented on #12
@BallscrewBob please note https://github.com/arduino/ArduinoCore-samd/pull/154 has been merged in to master, so will be part of the next SAMD core release, which will also get propagated to Create.

You can also switch over the the SAMD core hourly build to preview the next SAMD core release: https://github.com/arduino/ArduinoCore-samd#hourly-builds

Maybe you can run a simpler test like: https://

[2016-09-16 04:04] BallscrewBob commented on #12
Just over 8 hours before stall in the IDE using the MKR1000 WiFi RTC example.

That blink test passes every time regardless of CREATE or IDE which might indicate an issue with variables serial printing ?
The only sketches that I currently know to fail with some sort of consistency are the RTC and Thingspeak. Thingspeak stops sending data regardless of sensor used so hardware is not the issue.

Ooa

[2016-09-16 12:59] sandeepmistry commented on #12
Yes, or something's up with the RTC library.

I have a pull request for the WiFi101 library that has a bunch of fixes, something else to try regarding Thinkspeak: https://github.com/arduino-libraries/WiFi101/pull/77

Feel free to open an issue in the WiFi101 Github repo regarding this.

Thanks, this will help narrow down if it's Windows 7 or issue with your PC. Btw, do you also have a powered USB

[2016-09-23 04:39] BallscrewBob commented on #12
Hi Sandeep.

Server 2012 up and running with IDE 1.6.12 (all updates are in and using the hourly JSON in additional boards.
MKR attached to USB 2.0 as it will not play at all on USB 3.0 at all. and just spits out an error on trying to upload but Arduinos and USB are known to not play nice together.
Is there a particular sketch you wish to try first ?

[2016-09-23 13:15] sandeepmistry commented on #12
Wow, that's quite the machine!

Would you be able to try the [SimpleRTC.ino](https://github.com/arduino-libraries/RTCZero/blob/master/examples/SimpleRTC/SimpleRTC.ino) with SAMD core release 1.6.6 (no JSON file). I'm curious to see if the BSOD still occurs.

Thanks for the note on USB 3.0 vs USB 2.0, USB 3.0 seems to be fine on my MacBook Pro .... but that's not really an apples to apples comparis

[2016-09-23 13:47] BallscrewBob commented on #12
Confirming upload of the sketch you suggested @ 9.35 EST.
Left serial monitor open on the server but will close it and re=open on occasion.
Also using SAMD 1.6.6 without JSON.

The server is actually quite old and is modified for the SSD's and RAM, its taken a while to get to that spec LOL. Seeing as server 2012 is based around Win 8 / 8.1 it should provide a decent test base for network ability a

[2016-09-23 13:49] sandeepmistry commented on #12
Thanks

Please note, with 1.6.6 of the SAMD closing the serial monitor will cause the sketch to block until it is re-open on Windows. The SAMD nightly has a fix for this.

[2016-09-23 14:59] BallscrewBob commented on #12
K understood so will leave the monitor open and not touch it.
Will just look in on it on occasion to make sure its still running.

[2016-09-24 05:27] BallscrewBob commented on #12
Had random issues with the IDE. Changed sketch to this one https://create-[dev.arduino.cc/editor/Ballscrewbob/46b43ff7-4e61-440b-99e5-5e6605c04d2e/preview ](url)

Also dropped cores to 1.6.3 as was getting SMD packages unknown errors. but will try tommorow to go back up one at a time. Also had to add the standard JSON back in to get it stable.. There were some lib updates and other core updates wh

[2016-09-24 10:42] BallscrewBob commented on #12
Sketch ran from 5.14 to 6.06 and stalled. Starting to go back up packages.

[2016-09-24 11:04] BallscrewBob commented on #12
Packages all back up to date and JSON removed restarting sketch.

[2016-09-25 11:59] BallscrewBob commented on #12
Changed to use the EPOCH example sketch from RTC zero on server

[2016-09-26 20:01] BallscrewBob opened #15 "Compile errors in either DEV create or regular CREATE"
Compile errors in either DEV CREATE or regular CREATE

[code]

[2016-09-26 20:04] BallscrewBob commented on #15
Compiles fine for MKR but when compiling for 101 or MEGA the errors come up.

[2016-09-26 20:06] sandeepmistry commented on #15
The RTCZero library is only mean't for SAMD boards (Zero, MKR1000).

cc/ @smellai @matteosuppo

[2016-09-27 13:09] BallscrewBob commented on #12
No BSOD but stalled just short of 50 hours on the server. Awaiting further destructions

[2016-09-27 13:12] sandeepmistry commented on #12
Ok, I'd say you try with the nightly SAMD JSON next.

[2016-09-27 13:13] sandeepmistry commented on #15
I'm going to close this for now, it's the same behaviour as well you try to use the library on a non-SAMD board in the Java IDE. Note, there is a warning in the output:

[code]

[2016-09-27 13:13] #15 closed

[2016-09-28 17:11] sandeepmistry commented on #12
@BallscrewBob just a heads up, SAMD core 1.6.7 has been released with the following changes: https://github.com/arduino/ArduinoCore-samd/blob/master/CHANGELOG

It includes the USB fixes that you've tested with previously.

[2016-10-04 00:39] BallscrewBob commented on #12
OK have not had time to check it out BUT I think we may be able to close the RTC issue BSOD as I have just hit the same BSOD issue without an MKR and without any RTC items.

Pretty sure it is down to an issue with USBSER.SYS which may be outside the bounds of this issue and may need a different approach or git issue. Boards active at the time were a 101, Mega, and UNO all using different serial st

[2016-10-04 13:13] sandeepmistry commented on #12
Ok, I'll close it for now then. `USBSER.SYS` makes it feel like a general Windows OS issue if it impacts all boards. Have you done any testing with different versions of windows or other PCs?

[2016-10-04 13:13] #12 closed

[2016-10-06 02:53] BallscrewBob commented on #12
Yes it locked up on server 2012 requiring a hard restart a few times.

As server 2012 is win 8 / 8.1 based but hardened for server duties and
network and I think that's the only reason it didn't BSOD.

On the win 7 box usbser.sys is ONLY used by Arduino and nothing else.
It is ALWAYS listed as the cause during the BSOD.
Microsoft say its a driver issue which puts me right back to Arduino.

If I go

[2016-10-06 13:02] sandeepmistry commented on #12
I'm not a Windows expert by any means, however this page suggests Microsoft is in charge of the driver:

https://msdn.microsoft.com/en-ca/library/windows/hardware/dn707976(v=vs.85).aspx

[2016-10-07 01:54] BallscrewBob commented on #12
On most cases you will be correct however in this case usbser is not a
Microsoft one.

On Oct 6, 2016 09:02, "Sandeep Mistry" <notifications@github.com> wrote:

[2016-10-07 13:18] sandeepmistry commented on #12
Who provides it then? Is there anyway you can go back to the Microsoft version?

I didn't find any copies of `usbser.sys` in the [driver's folder on Github](https://github.com/arduino/Arduino/tree/master/build/windows/dist/drivers). [arduino.inf](https://github.com/arduino/Arduino/blob/master/build/windows/dist/drivers/arduino.inf) just references `usbser.sys`.

[2016-10-11 10:59] sergiuburian opened #16 "High latency when reading the date-time"
I am using an M0 board from Adafruit,with the RTCZero library. I innitialize and set the RTCZero from NTP servers at start-up and then read it in the loop in order to timestamp (as string) my sensor data log entries (date / time from RTCZero and millis() to get millisecond kind-of accuracy ). The data acquisition frequency is 100 Hz.
The problem is, that in order to read the time for this very sim

[2016-10-18 07:59] recoilnetworks opened #17 "Four Digit Year"
I am new to Arduino however, I have developed in other languages. Right now I am having an issue with your library. For the life of me, I cannot seem to get the year to be four digits. Here is what I am doing, in a nutshell:
1. Make HTTP request to server to get current date/time (JSON response)
2. Parse JSON response and set date/time

Everything works except my year is "32" instead of "2016" as

[2016-10-19 00:49] sergiuburian commented on #17
Hi,

Please post your JSON response. I am using this RTCZero lib initialized with the NTP Time via FONA/GPRS and it works (2 digit year). The year is kept internal as a 2 digit offset from 2000. So if you set it to 16, it would work.
Check also the line `byte year = timestamp["timestamp"]["year"];`. The year is a byte, so if JSON returns a 4 digit number, it gets corrupted by the conversion.

Also

[2016-10-19 01:03] recoilnetworks commented on #17
Thank you for your response. The JSON string that you asked for is below. I don't plan on running the timer every second. I just received my sensors today. My plan is to setup the sensor to report their data back to my server via a JSON post every 5 minutes. With this post, I would also like to send the date and time using the format YYYY-MM-DD H:I:S (2016-10-18 - 02:20:00). I figured that my `byt

[2016-10-19 01:21] sergiuburian commented on #17
Hi,

There are a couple of things you could do:
1. Add/Substract 2000 to/from the RTCZero year when you send/receive the JSON with time in it. I guess that is the fastest way. Like `uint8_t year = uint8_t (int(timestamp["timestamp"]["year"])-2000);` when you receive the JSON request and `timestamp["timestamp"]["year"] = rtc.getYear()+2000;` when you prepare the JSON to be sent.
2. I am not sure wh

[2016-10-19 06:38] recoilnetworks commented on #17
Yeah, so the problem with this is that when it hits the year 2100 it will fail. I understand these boards are meant for prototyping and what not, but why would you write something that you know will fail eventually?

[2016-10-19 10:42] sergiuburian commented on #17
You have high hopes wrt life expectancy, man :) :) Where did you find that medicine ;) ???

Joke aside, it will NOT fail if you pass 2100. Actually the `uint8_t` return type of the `getYear()` allows you to go up to 255 (8 bit unsigned), which will cover you up to the year 2255. By that time, the mankind will have forgotten the micro-controllers :), so it is rather a theoretical problem. If you ar

[2016-11-21 22:41] GabrielNotman commented on #17
@recoilnetworks  @sergiuburian While the function returns an 8bit value, the Year part of the CLOCK register is only 6bit. It will rollover in 2064.

See page 292: www.atmel.com/Images/Atmel-42181-SAM-D21_Datasheet.pdf

[2016-11-21 22:46] GabrielNotman commented on #16
If you want to read the values directly they can be accessed via the _RTC->MODE2.CLOCK.reg_ register. You can see how this is done in the _getEpoch()_ method.

If you skip the synchronisation request, it will read quicker. However, if you attempt to read it during a background register update it will cause the bus to stall for about 5ms. This can cause a lot of issues as it can block interrupts. I

[2016-11-22 09:17] sergiuburian commented on #17
Hi, thanks for the update and hint. Looking at the specs, it is important to take a leap year as a base, it does not have to be 2000. So, the code will have to be written in a way that, when it reaches 2061 - which is after a leap year - the base is changed and moved to 2060, year register is updated to 1, any you are OK for the next 64-4=60 years. I guess this (setting the clock at boot time some

[2016-11-22 09:20] sergiuburian commented on #16
Hi Gabriel,

Thanks for the hint. Of course I can read myself the registers, as in getEpoch. I just thought, this would be a very useful function for all those who use this library in combination with data loggers.
Thanks,
Sergiu

[2016-11-23 11:24] Sune89 opened #19 "rtc.standbyMode();"

[2016-11-23 11:24] #19 closed

[2016-11-23 11:27] Sune89 opened #20 "rtc.standbymode() only works once"

[2016-11-23 11:27] #20 closed

[2016-11-23 11:55] Sune89 opened #21 "rtc.standbymode() only working once"
I am doing project following the example from http://forcetronic.blogspot.co.uk/2016/09/reducing-power-consumption-on-arduino_24.html.

My Genuino MKR1000 goes to standbymode, and wakes up when motion is detected on the PIR sensor. However, for some reason I cannot make it go back into standby mode. I have tried several different ways of debugging this, adding the standbymode at different places i

[2016-12-13 12:33] GabrielNotman commented on #21
Using delay in an ISR will most likely cause issues, as will printing to certain types of streams.

In the above example, I would recommend moving all of the ISR code to _loop()_. When the interrupt is triggered, it will run the empty ISR and then continue from the last line of _loop()_. Then it will run _loop()_ again until it hits the call to standby where the board will enter sleep mode.

[2016-12-28 11:33] smellai opened #23 "Url in library.properties broken"
https://www.arduino.cc/en/Reference/RTCZero

[2016-12-29 17:02] sandeepmistry commented on #23
@agdl looks like the URL should be: https://www.arduino.cc/en/Reference/RTC

Which one should we update the page or the library properties?

[2017-01-25 13:36] fabltd opened #24 "Interrupt not unattached"
I am trying to use the RTC Alarm to trigger a Serial Event.

When the Alarm RTC is Matched the serial function is called.

The serial function contains delays.
I understand these interfere with interrupts.

I have tried to disable the interrupt rtc.detachInterrupt();  before running the serial function but it still crashes the zero.

I have tried to replace the delay with a millis timer but its st

[2017-01-27 20:09] softweyr commented on #24
It's best to keep interrupt service routines short and sweet.  Serial output works in a timer ISR for me, but delays are a no-no, and using other timers probably problematic.  The usually way to handle this is to create a global flag to signal when the timer has fired, a la:
[code]

[2017-01-27 20:59] softweyr opened #25 "Adafruit Feather M0 won't wake up?"
I have an Adafruit Feather M0 RFM69HCW that has become redundant from another project, so I thought I'd make an outdoor temperature sensor from it.

The idea is to wake up once a minute, sample the temperature from a DHT-11 I have lying around, blast it out over the RFM radio, then go to sleep.  It's all working moderately well, except I can't get the M0 to 'wake up' once I put it in standby.  The

[2017-01-29 22:59] jamesfahlbusch opened #26 "setAlarmEpoch has an error"
From RTCZero.cpp:
[code]
`
setAlarmDate(tmp->tm_year - EPOCH_TIME_YEAR_OFF, tmp->tm_mon + 1, tmp->tm_mday);
`
should be:
`
setAlarmDate(tmp->tm_mday, tmp->tm_mon + 1, tmp->tm_year - EPOCH_TIME_YEAR_OFF);
`
because:
`
void RTCZero::setAlarmDate(uint8_t day, uint8_t month, uint8_t year)
`

[2017-01-30 09:20] agdl commented on #26
Hi, this has been fixed 13 days ago with https://github.com/arduino-libraries/RTCZero/pull/22. The new library has been release so you should only update it using the library manager

[2017-01-30 09:20] #26 closed

[2017-01-30 09:23] #23 closed

[2017-02-27 09:04] prahu commented on #6
how can we set multiple alarms(minimum 30) by using RTC3231 and arduino uno.

[2017-02-27 09:07] prahu opened #27 "alarm clock"
how can we set multiple alarms(minimum 30) by using RTC3231 and arduino uno

[2017-02-27 09:59] agdl commented on #6
@prahu this library uses the internal RTC of SAMD21 based arduino boards. Google if exist an arduino library for that kind of RTC

[2017-02-27 10:14] prahu commented on #6
you want to say that we can not set multiple alarms by using arduino uno and rtc3231

[2017-02-27 10:36] agdl commented on #6
I'm saying I don't know the rtc3231 and that this library is not intended for it

[2017-02-27 10:36] #27 closed

[2017-02-27 10:38] agdl commented on #17
I'm closing this issue since we are ok for the next 47 years. please reopen it in 2064 :)

[2017-02-27 10:38] #17 closed

[2017-02-27 10:41] #11 closed

[2017-02-27 11:19] prahu commented on #6
ok

[2017-02-27 11:26] GabrielNotman commented on #6
@prahu for multiple alarms I would suggest using an alarm which fires at a regular interval (every second, every minute etc). Combine this with a scheduling class and you handle a number of scheduled events.

Here is an example which is designed to run on the Mbili (ATmega 1284p with an onboard DS3231 rtc). It should be compatible with the UNO and an external DS3231 rtc, you will have to update th

[2017-02-27 12:28] prahu commented on #6
sir in my project i want to set multiple alarms by using buttons(3 buttons, one is for set alarm, second for increment and third to switch on next value).first we set alarms and when it will match to the current time then buzzer turns high.

[2017-02-27 13:30] GabrielNotman commented on #6
@prahu there is quite a bit more required for such a project. I would suggest perhaps enquiring about this on the Arduino.cc forums. I believe that is a more suitable venue for this discussion.

[2017-02-27 23:18] dIoTte opened #28 "Using RTCZero and TimeLib.h doesn't compile"
Any idea why it is not possible to use both libraries at the same time?

#include <TimeLib.h>
#include <RTCZero.h>
void setup() {
}
void loop() {
}

[2017-02-28 04:41] prahu commented on #6
ok thanks sir

[2017-03-01 22:13] sandeepmistry commented on #28
Hi @dIoTte,

This is because `TimeLib.h` contains a file named [Time.h](https://github.com/PaulStoffregen/Time/blob/master/Time.h) which on case insensitive filesystems (used by default on Mac and Windows) conflicts with the POSIX `time.h` header the `RTCZero` library uses.

We could ask the `TimeLib` maintainers to rename the `Time.h` file via a pull request. @facchinm @cmaglie what do you think?

[2017-03-02 09:18] facchinm commented on #28
@sandeepmistry totally agree, but we should think about some sort of wrapper to avoid troubles for someone who includes `Time.h`

[2017-04-28 19:06] sathibault opened #29 "Time jumps ahead during sleep."
I'm observing a jump in the time returned by getEpoch on the Feather M0.  During setup I'm calling rtc.begin() and shortly after getEpoch returns 943920000 (30 Nov 1999 00:00:00).  I set the alarm for 1 min later and it wakes up correctly, but getEpoch now returns 946684861 (01 Jan 2000 00:01:01).  Anyone have thoughts on what's causing this?

[2017-05-04 14:48] GabrielNotman commented on #29
I believe there may be some initialisation issue as the RTC range starts 01 Jan 2000 00:00:00. The initial value you are reading is invalid. I believe the RTC may currently require a single clock cycle (1 second) to initialise the values correctly.

You should only see this jump once, after initialisation and it is unrelated to entering sleep mode.

I'll try and investigate to see if the setup can

[2017-05-08 01:17] dIoTte commented on #28
Hello everyone, is it still in the plan to fix this problem?

Thanks,
Seb

2017-03-02 4:18 GMT-05:00 Martino Facchin <notifications@github.com>:

[2017-05-10 19:12] sandeepmistry commented on #28
@dIoTte I've opened to following issue to continue the discussion https://github.com/PaulStoffregen/Time/issues/74

[2017-05-11 18:25] sandeepmistry commented on #28
Hi @dIoTte,

Based on the discussion in https://github.com/PaulStoffregen/Time/issues/74#issuecomment-300629882, @PaulStoffregen is not keen on removing `Time.h` from the `TimeLib` library for compatibility with older IDE versions.

As a work around, we would suggest you manually remove `Time.h` from `<SKETCHBOOK>/libraries/Time/` if you wish to use both `TimeLib` and `RTCZero` in your sketch.

cc

[2017-06-19 10:09] agdl commented on #29
@sathibault can you please paste here your sketch?

[2017-06-23 11:54] sathibault commented on #29
It's part the RxFusion library ([https://github.com/sathibault/RxFusion](https://github.com/sathibault/RxFusion)) that provides automatic sleep management.  I've worked around this issue calling getEpoch every time it wakes: [https://github.com/sathibault/RxFusion/blob/master/include/arduino/samd-sleep.h#L95](https://github.com/sathibault/RxFusion/blob/master/include/arduino/samd-sleep.h#L95)

[2017-06-25 23:18] GabrielNotman commented on #29
I can confirm that this issue exists. It will present, in the first second, after the RTC is reset (after a POR reset, or by passing _true_ to the _rtc.begin()_ call).

I have an example demonstrating this here:
https://github.com/GabrielNotman/AutonomoTesting/blob/master/RTC/Test_RTC_Skip/Test_RTC_Skip.ino

This was not tested on a Feather M0, but another SAMD21 based board. Similarly, I found th

[2017-07-03 12:06] sathibault commented on #29
Cool, thanks for digging into it!

[2017-07-10 20:08] GabrielNotman commented on #29
I've added a fix for this in PR #30.

[2017-07-30 11:24] Nikospax opened #31 "Can i found the day?(Monday, Tuesday etc)"
Is  there a option to find the day of the week?

[2017-08-07 10:51] GabrielNotman commented on #31
It doesn't currently support querying the day of the week.
However, similar to how the epoch time is calculated, you could use _mktime()_.
http://www.cplusplus.com/reference/ctime/mktime/

[2017-09-11 03:39] frankleonrose commented on #25
Take a look [here](https://github.com/cavemoa/Feather-M0-Adalogger/blob/master/SimpleSleepUSB/SimpleSleepUSB.ino#L36):
[code]
@cavemoa makes a comment somewhere that this was critical to getting sleep working while USB connected. Also that, depending on your OS and tools, you may have to restart your serial monitor after the `detach`.

[2017-10-11 14:21] FredMeester opened #32 "Running two RTC's next to each other"
Hi,
Is it possible to set a second RTC using the RTCZero library, and how?
At the moment I use the early warning from the watchdog timer as a second RTC.
Fred

[2017-12-05 21:21] jamesfahlbusch opened #33 "Freeze after Standby"
After waking from the RTCZero Standby the system freezes when I attempt to use interrupts. Is something not being reset after standby?
I am using a library called Retick that throttles the loop and utilizes TCC1 and it is getting stuck at the first instance of _WFI() after standby. Are the interrupts not being cleared?

#include <RTCZero.h>
#include "Arduino.h"
#include "retick.h"

#define RED 13

[2018-01-09 18:48] EricaSwift commented on #21
@GabrielNotman This was great advice. I tried leaving the ISR loop completely blank and moved my code into the main loop. Worked immediately.

[2018-02-17 18:03] Julien8631 opened #34 "Fox sleep RTC"
Hi,

I have a problem.
sleepRTC doesn't work with MKR FOX 1200.
I want to wakeup the board every minutes to send a SIGFOX message.
The board wake up only once.

Could you help me ?

Thanks

[Fox_sleep_RTC.txt](https://github.com/arduino-libraries/RTCZero/files/1733955/Fox_sleep_RTC.txt)

[2018-03-01 18:21] tigoe opened #35 "Add function(s) to return ISO8601 time strings"
It's really common to need to send a UTC time string to a server, or log it in a data logger. Here's a version I've been writing with some frequency that might be a good addition to the API, once this function is optimized.

[code]

[2018-03-08 06:10] brendandower90 opened #36 "Add RTCZero::reset function"
This would be really simple to do but would save extra time. I have added it to the RTCZero.cpp file on my local machine, but it could be a feature that more people would be interested in.

void RTCZero::reset()
{
   setTime(0,0,0);
}

[2018-04-18 13:20] ericbaril72 opened #37 "SAMD51 support but unsure if an M4 processor should be included in a M"Zero" library"
I have code ready but would need to know if it should be added to this library ?
or suggest another one

[2018-05-03 14:56] mennamorato commented on #9
@sandeepmistry If none of the peripherals and clocks are enabled in standby mode, why is that my SAMD21 mini board with all LED's removed still consumes 8mA when using rtc.standbyMode()?  something must be running... other people report less than 100uA with custom code.  Suggestions? I really need to figure this out as I have to get to 200uA max, thanks!

[2018-08-04 11:30] BallscrewBob opened #39 "Carry over not increment of current time date in example"
Using the example [https://create.arduino.cc/editor/ballscrewbob/4aa164b5-3012-4361-a7ff-d6a48eadea90/preview](url)

The time carries over but does not INCREMENT the date and reset the clock to zero.

Also seen in the forum [https://forum.arduino.cc/index.php?topic=557099.new#new](url)

[2018-09-23 17:27] sslupsky opened #40 "Feature: Periodic alarms between 1 sec and 1 minute"
The smallest period with the current version is 1 minute.  It would be useful to be able to set periodic alarms that fire more frequently.

Perhaps something like MATCH_MS (match milliseconds) ?  That would provide a 1 second period.  I do not require anything fast than that.

It would be useful to be able to set the period to an arbitrary period between 1 and 59 seconds.

[2018-10-24 09:11] agdl commented on #21
Can we close this issue?

[2018-10-24 09:13] agdl commented on #36
What's the point of this function? you can simpy add it to your sketch if you need it. It's just one line of code

[2018-10-24 09:16] agdl commented on #34
https://github.com/arduino-libraries/ArduinoLowPower you can use the Low Power library to do it

[2018-10-24 09:16] agdl commented on #32
No, you just have one HW RTC in the d21. If you need another one you can plug an external one!

[2018-10-24 09:16] #32 closed

[2018-10-24 14:00] sslupsky commented on #21
FWIW, it appears to me the call to rtc.standbyMode() in the ISR was the original problem.  Recursive standby ... seems like a definite no-no.

[2018-11-09 05:11] softweyr commented on #25
I finally got back to this.  I'll take a look at the above, or just blink and LED or something to indicate progress.  Thanks!

[2018-11-09 05:11] #25 closed

[2018-11-17 07:35] fengrun85 opened #41 "Compatibility with newer MKR boards"
Are the newer MKR boards compatible and tested? MKR GSM 1400 and WiFi 1010?

Can the documentation be updated to make this clear?

[2018-12-03 13:42] epugar commented on #15
I have this error too: _

[2018-12-03 13:45] epugar commented on #15
I have this error too:
"error: 'RTC_MODE2_MASK_SEL_OFF_Val' was not declared in this scope

     MATCH_OFF          = RTC_MODE2_MASK_SEL_OFF_Val,          // Never"
same goes for every minute, etc.
My question: I downloaded code from Arduino Project Hub and I'm just testing it. If I connect my Arduino MKR1000 will this still be an error? I'm just new to this area so sorry if it a dumb question.

[2018-12-03 14:05] per1234 commented on #15
@epugar which board do you have selected? As was already stated, this library is only compatible with the Arduino SAMD Boards. If you try to compile for a board of any other architecture, you'll get that error.

The MKR1000 is SAMD architecture so if you select that board you should not get this error. For compilation, it doesn't matter whether you have the MKR1000 connected or not. That only matt

[2018-12-03 14:39] epugar commented on #15
@per1234  That board was not selected. As I said, I'm completely new to this. I would never think about checking that. Thank you!

[2018-12-17 21:09] jjunimd commented on #37
Why not?  A name is just a name; many libraries have legacy names that don't fully describe their latest incarnations.  I am **very** interested in trying your M4-compatible code, if possible.
jjuni@stage2innovations.com

[2018-12-19 02:38] ericbaril72 commented on #37
https://github.com/ericbaril72/RTCZero/tree/SAMD51_E54

[2018-12-19 02:38] #37 closed

[2019-01-16 13:42] marcobrianza commented on #33
I had similar periodic random issues and proposed this fix
https://github.com/arduino-libraries/RTCZero/pull/42

can you please try it?

[2019-01-16 14:12] wjpavalko commented on #33
Ok.  I'll see if I can.

I was able to prevent the problem by inserting a short delay (10 ms) into
the code right before the call for sleep.  Not sure why it works, but it
solved the problem I was having.  All buoys with that code have now worked
continuously without the hang I was seeing.

--Wayne

On Wed, Jan 16, 2019 at 8:42 AM Marco Brianza <notifications@github.com>
wrote:

[2019-02-21 13:58] Oretoh opened #43 "Time delay when measuring higher current (with current transformers) from ADC"
My board is an MKR WAN 1300.
So I have an issue where a delay per data read happens when using a library called Emonlib with their specifications. The issues happens when currents read have higher values, but only in constructs/system that use a certain current transformer sensor SCT-013-000 (whereas the main difference for other sensors is that it requires a burden resistor). Other constructs/sys

[2019-03-07 16:27] kriti1717 commented on #9
Hi @mennamorato I'm getting the same issue as you. Did you find a solution to it?
I am using delay to wait for my digital pins to get into the write mode before taking a reading. Can I replace my delay function with standby. My guess is standby mode will not work as it shuts down the peripherals but then my standby mode power consumption is 9mA. Please advice

[2019-03-07 19:31] drewfish commented on #9
The SAMD21 allows a lot of control over which peripherals still run in standby mode. You'll need to read the datasheet for details. It's a little tricky since you need to cross-reference the arduino pin numbers into the EIC signal numbers, then set the correct bits in the EIC configuration register. I also configured the EIC to run off the same clock as the RTC, not sure if that was necessary.

I'

[2019-03-16 00:07] DiegoD4i commented on #28
Sorry, I´ve a problema with this library.
When I use  GMT-3 setup, the library Works well… but near mitnight, returns wrong day and time.
Could you help me please.
Thanks a lot

[2019-04-16 14:55] #34 closed

[2019-04-16 14:56] #21 closed

[2019-04-16 14:57] #33 closed

[2019-05-24 18:11] sslupsky commented on #40
I would like to submit a PR for this issue so I would like to get some feedback.  I see two ways to accomplish a better than 1 minute periodic interrupt.

1.  Set a new ALARM timeout in the RTC hander.
2.  Use the Periodic Events

The first method is the technique I presently use.  It has the disadvantage that it requires a write to the alarm register.  This write causes a SYNCBUSY and requires ab

[2019-05-31 19:32] jacky4566 opened #47 "Setting minutes and hours dont wrap properly"
I notice there is some weirdness when using the setMinutes, setHours functions.

Using the function
`rtc.setHours(rtc.getHours()+1); `

allows for setting time between 0 and 32. Shouldn't this wrap around to 24?

Code example:
[code]
Output
[code]

[2019-06-12 19:08] jacky4566 opened #48 "Clear flag after callback causes stall"
https://github.com/arduino-libraries/RTCZero/blob/ac98e3da2809500ae50050e5dee12223461921a6/src/RTCZero.cpp#L115

Is there a reason the flag is cleared after the callback? Seems if you have too long of a callback (2+ seconds) then the RTC will hang the processors. Not sure the exact details but are we safe to clear the flag first then do callback? It would make it more noob friendly.

[2019-06-12 19:33] drewfish commented on #48
If we make that change (clear flag before calling callback), what happens if the callback takes longer to execute than the period of the interrupts? For example if the RTC is setup to interrupt every second but the callback takes more than a second to run.

[2019-06-12 20:46] S2Doc commented on #37
I am trying to use your SAMD52-compatible version of the RTCZero library.  In the src folder is a file called RTCLib.cpp which has #include "RTCLib.h".  Unfortunately there is no RTCLib.h file included.  Can you provide this?

Also, I note that the download contains two copies of RTCZero.cpp.  One is inside the src directory and the other is one level higher.  Should these both be present?

Thank

[2019-06-20 18:21] ubidefeo opened #50 "Crystal-less implementation time issue"
I have used this code to successfully set the device to sleep and wake up after 20 seconds, but on the Nano 33 IoT it won't work and I guess it's due to how seconds are turned into ticks and the fact that it doesn't tick at 32KHz. Just guessing :)
Works on MKR Zero, MKR WiFi 1010 and MKR GSM 1400

[code]

[2019-06-20 18:48] pnndra commented on #50
Hi. Since we don't have a 32khz crystal rtc can't be used on this board

[2019-06-20 19:18] ubidefeo commented on #50
Ran a test not dependant on Serial output by blinking the onboard LED 3 times at wakeup and it indeed worked.
So it might just be a case of bus stall as referenced in #44 .
I'll close this one but maybe someone can take a look if it's the case to merge that PR :)

[2019-06-20 19:18] #50 closed

[2019-08-14 04:26] ravelab opened #52 "sleep one extra second?"
I set it up like this:

  rtc.begin();
  rtc.enableAlarm(rtc.MATCH_SS);

loop() {
  LED OFF
  rtc.setSeconds(0);
  rtc.setAlarmSeconds(0);
  rtc.standbyMode();
  LED ON
}

I noticed that if I setAlarmSeconds(0), it would sleep 1 second, if I setAlarmSeconds(4),it would sleep 5 seconds. So the total sleeptime is alarmSeconds - seconds + 1. Is that the expected behavior?

Thanks

[2019-08-14 06:17] ravelab commented on #40
If SYNCBUSY delay can be avoided, that would be great.

[2019-12-04 15:13] tigoe opened #53 "Add method to set time from compiler time"
It would be handy to be able to set the time from the C __TIME__ and __DATE__ variables. For example:

https://github.com/ITPNYU/clock-club/tree/master/Microcontroller_Time_Setting_Methods/CompileTimeSet

[2019-12-09 07:39] jpm-izinto opened #54 "getEpoch should return time_t type"
https://github.com/arduino-libraries/RTCZero/blob/d8503ff7ef54c4e9366654c1b498ba088a8a7b3c/src/RTCZero.cpp#L373

This function should return a `time_t` type, not a `uint32_t`. Depending on the platform the `time_t` field might be bigger or smaller than 32 bits.

On the Arduino Zero / ATSAMD21 platform the `time_t` field is 8 bytes long, in other words 64 bits.

Run this sketch to see for yourself:

[2019-12-09 07:39] #54 closed

[2019-12-09 07:41] jpmeijers opened #55 "getEpoch should return time_t type"
https://github.com/arduino-libraries/RTCZero/blob/d8503ff7ef54c4e9366654c1b498ba088a8a7b3c/src/RTCZero.cpp#L373

This function should return a `time_t` type, not a `uint32_t`. Depending on the platform the `time_t` field might be bigger or smaller than 32 bits.

On the Arduino Zero / ATSAMD21 platform the `time_t` field is 8 bytes long, in other words 64 bits.

Run this sketch to see for yourself:

[2020-02-04 18:49] moeskerv commented on #52
I can confirm this. Basically sleeping for some seconds only seems to always add 1s extra:

rtc.setSeconds(0);
rtc.setAlarmSeconds(0);
rtc.enableAlarm(rtc.MATCH_SS);
rtc.standbyMode();

Above results in a sleep for 1s.

rtc.setSeconds(0);
rtc.setAlarmSeconds(1);
rtc.enableAlarm(rtc.MATCH_SS); // Match seconds
rtc.standbyMode();    // Sleep until next alarm match

Above results in a sleep for 2 sec

[2020-02-04 19:08] moeskerv commented on #52
Interestingly the ArduinoLowPower (which uses the RTC too) lib does the same on my Feather M0

LowPower.sleep(0); -> sleeps for 1s
LowPower.sleep(1000); -> sleeps for 2s

I tested with the TimedWakeup example: https://www.arduino.cc/en/Tutorial/LowPowerTimedWakeup

[2020-02-04 19:09] moeskerv commented on #52
Might be a special behavior of the Adafruit M0 based Feathers?

[2020-02-05 16:35] TheShadowhawke opened #57 "Feature Request: Add Support for SAMD51 MCUs"
Could support be added to this library for the SAMD51 series of MCUs? Thanks in advance.

[2020-03-27 09:17] Inv3nt0r1 commented on #47
Hello,
Can you please test and tell me what happens when you pass a value of more than 32?

[2020-05-19 17:26] Wijnbouwer commented on #39
Had the same problem. I'm working on a MKR1400 which tends to hang after approx 24 hr (known issue with gsmclient), By monitoring the system overnight, I noticed the same problem. It corrected itself a 25:59 hr -> 02:00.
If not solved: is there a work-around? Since I drop the collected data in mysql, the data with weird hours gets rejected and is lost. I can not afford to loose two hours of data e

[2020-05-25 15:48] fmatray opened #60 "Warning on compiling with oldTime.RTC_MODE2_CLOCK_Type::reg"
Hello,
I get a warning in RTCZero.cpp line 96:26, without having a bug.

[code]
 line 96:26 :
[code]

Looking at the code, I guess the problem is here, there no "else" or an initialization to define "oldTime.reg".
[code]

Thanks a lot.

[2020-06-01 14:56] trlafleur opened #61 "In testing SAMD51 port..."
just a note:

I'm testing the SAMD51 port by: ericbaril72 at:  https://github.com/ericbaril72/RTCZero/tree/SAMD51_E54

In my test program below, if I run it on a SAMD21 processor, I get the expected results, if I set the time via a: rtc.setEpoch(1451606400); // Jan 1, 2016, it returns the expected: 01/01/16 00:00:00

But if I run it on a SAMD51 processor, it returns: 16/06/16 08:39:05
looks to be

[2020-06-02 03:09] drewfish commented on #61
It looks like your test sketch prints the time every second. Does the RTC clock increment 1 second each time it prints, or does the RTC run faster or slower?

[2020-06-02 03:15] trlafleur commented on #61
RTC is an asynchronous process, and it runs independently of CPU and Arduino

~~ _/) ~~~~ _/) ~~~~ _/) ~~~~ _/) ~~

Tom Lafleur

On Mon, Jun 1, 2020 at 8:09 PM Drew Folta <notifications@github.com> wrote:

[2020-06-02 03:42] drewfish commented on #61
Sure, but its speed depends on how it's hooked up to the clocks in the SAMD51 chip. Specifically this code in that RTCZero fork is assuming that the board has an external 32k oscillator attached to the SAMD51:
https://github.com/ericbaril72/RTCZero/blob/2c92351e4581dcf32125ce771211e4cf79485f4e/src/RTCZero.cpp#L508
It assumes other things as well. If the RTC isn't configured to clock at 1Hz then th

[2020-06-02 12:52] trlafleur commented on #61
The clock is connected via the 32.768KHz external xtal, it appears to keeps
proper time....
The issue I expect appears to be one of not properly initializing a
register or synchronizing register access with the main processor as
required.
see section 21.12 of the SAM D5x/E5x Family Data Sheet
"Some registers require synchronization when read and/or written.
Synchronization is denoted by the "Read-

[2020-06-02 13:10] trlafleur commented on #61
It looks to be as I stated in my last email, adding a synchronization
request after EACH register change, appears to have solved the issue...

In the original code, one was done at the end of the register change, not
for each register change as required...

[code]

[2020-06-02 13:15] trlafleur commented on #61
I suspect that this is also an issue for the SAMD21 processor....

[code]

void RTCZero::setEpoch(uint32_t ts)
{
  if (_configured) {
    if (ts < EPOCH_TIME_OFF) {
      ts = EPOCH_TIME_OFF;
    }

    time_t t = ts;
    struct tm* tmp = gmtime(&t);

    RTC->MODE2.CLOCK.bit.YEAR =     tmp->tm_year - EPOCH_TIME_YEAR_OFF;
     while (RTCisSyncing());
    RTC->MODE2.CLOCK.bit.MONTH =    tmp->tm_mon

[2020-06-02 17:02] trlafleur commented on #53
Here is a function you can adapt to your program to get compile date-time to Unix time...

[code]

[2020-06-22 14:06] thewoz commented on #28
I have the same problem.
So the solution is to manually remove Time.h from <SKETCHBOOK>/libraries/Time/?

[2020-07-13 12:39] pomplesiegel opened #62 "Device eventually stops waking from sleep using RTCZero 1.6.0"
Hello Everyone,

Great library, and it has served me well over the past couple years. Thank you for your hard work.

I recently encountered an issue with my Adafruit Feather M0-based board (SAMD21) when combining LMIC with RTCZero (same combo I have used successfully for two years). Essentially, RTCZero is used to sleep in-between Lorawan transmits.

It seems there is an issue with the combination

[2020-08-23 18:56] trlafleur opened #63 "Allowing epoch to be set to zero or any value"
SetEpoch check for new Epoch to be larger than EPOCH_TIME_OFF, that is set to 946684800,
there are times when one wants to use a difference Epoch that the default!

[2020-09-16 23:02] zhenglinwang opened #65 "RTC reset automatically after from deep sleep (MKR NB 1500 )"
I work on MKR NB 1500. After I set it to deep sleep mode for 2 mins, the RTC will return a epoch time such as 946735255 after waking up from deep sleep?

Any suggestion please?

[2020-10-09 07:33] moeskerv commented on #62
Seems that I see a similar behavior using RTCZero in combination with the Radiohead library. I also make use of a  Adafruit Feather M0-based with Lora 433 module on it. Also BME280 library is in use. While it was working for some years now, it started to stop from waking up after some random time (hours) with current build. I will do some tests now to see if this can be fixed using RTCZero 1.5.2.

[2020-10-09 14:28] pomplesiegel commented on #62
@moeskerv, Great to hear someone else is experiencing a similar behavior. Yes, please let us know the result of your test.

[2020-10-13 05:52] moeskerv commented on #62
Some results from my tests:

- Using RTCZero V1.6.0 in my setup causes the device to not wake up any more after a few hours of operation, reproducible on two devices
- Using RTCZero V1.5.2 in the same setup now runs for several days already on both devices

I now started to add the changes done between the two versions step by step to identify what change caused the issue. This will take some days

[2020-10-13 12:37] pomplesiegel commented on #62
@moeskerv, got it. This is my exact same experience as well. I'm glad to hear it is consistent between our setups and applications.

Great, I look forward to your findings! Thank you

[2020-10-15 06:27] moeskerv commented on #62
As it seems this part of the changes done between version 1.5.2 and 1.6.0 causes the issue:

+// Default date & time after reset
+#define DEFAULT_YEAR    2000    // 2000..2063
+#define DEFAULT_MONTH   1       // 1..12
+#define DEFAULT_DAY     1       // 1..31
+#define DEFAULT_HOUR    0       // 1..23
+#define DEFAULT_MINUTE  0       // 0..59
+#define DEFAULT_SECOND  0       // 0..59
+
 voidFuncPtr

[2020-10-17 11:58] luisdamed commented on #39
Hello @Wijnbouwer and @BallscrewBob

I found the same issue and it seems that this hasn't been solved yet (please correct me if I am wrong!). I noticed that also the month and day, and year are not being updated after midnight until 25:59 hr -> 02:00.

I have this workaround solution that worked OK for me, but I am sure that the best way would be to solve the issue at a library level. I am quite n

[2020-11-27 23:14] DCelectronics commented on #57
@TheShadowhawke and @per1234
I tried this on the Feather M4, Metro M4, and Grand Central M4, and it worked on all three different boards.
https://github.com/ericbaril72/RTCZero/tree/SAMD51_E54
I installed the latest from Arduino library manager (current version 1.6.0) and overwrote only the [RTCZero.cpp](https://github.com/ericbaril72/RTCZero/blob/SAMD51_E54/src/RTCZero.cpp) file.
This modified li

[2020-11-29 19:20] drewfish commented on #57
I have a version which works on the Adafruit ItsyBitsy M4, I could make a pull request if repo owner(s) think it might be valuable. (I'd first want to test it out with SAMD21 crystal & crystalless boards also, of course.)

[2020-12-02 18:21] drewfish commented on #31
There's actually a whole wikipedia article on just this :)
https://en.wikipedia.org/wiki/Determination_of_the_day_of_the_week

Here's code which I've used:

[code]

[2020-12-02 18:39] Nikospax commented on #31
i have use this code. Works but yours is too compact!!

hours = rtc.getHours() + GMT;
if(hours>=24)hours = hours - 24;
minutes = rtc.getMinutes();
secs = rtc.getSeconds();
year = rtc.getYear();
month = rtc.getMonth();
day = rtc.getDay();

// Calc the day of the week STARTS HERE
// Leap Year Calculation STARTS HERE
    if((fmod(year,4) == 0 && fmod(year,100) != 0) || (fmod(year,400) == 0))
    { le

[2020-12-09 19:25] #55 closed

[2021-01-05 18:03] sergerold opened #67 "Suggestion: getAlarmEpoch()"
Hi

I noticed that there is no 'getAlarmEpoch()' method. I have implemented in my own sketch but it may be worthwhile adding to the library.

`        uint32_t getAlarmEpoch()
        {
            uint32_t epochAlarm;
            struct tm alarmTime;

            alarmTime.tm_isdst = -1;
            alarmTime.tm_yday = 0;
            alarmTime.tm_wday = 0;
            alarmTime.tm_year = pRtcAlar

[2021-01-09 00:18] sergerold opened #68 "Suggestion: standbyMode() should adopt the sleep() code in the ArduinoLowPower library"
Hi

These functions are designed to do the same thing but the sleep() function has a number of advantages (e.g. disabling systick) which can cause issues

`// RTCZero.cpp
void RTCZero::standbyMode()
{
  // Entering standby mode when connected
  // via the native USB port causes issues.
  SCB->SCR |= SCB_SCR_SLEEPDEEP_Msk;
  __DSB();
  __WFI();
}`

`// ArduinoLowPower.cpp
void ArduinoLowPowerClass:

[2021-02-11 10:29] aentinger opened #69 "Add GitHub Action based CI"

[2021-03-15 15:37] jot4p opened #70 "RTC and LOWPOWER"
Hi,

I need to use RTCZero to create a daily alarm based on RTC time, but I need to user ArduinoLowPower lib to create a short sleep of 10 seconds in loop.

Why do not work ?

(Arduino MRK 1400 GSM)
[code]

Thanks.

[2021-03-16 02:02] per1234 commented on #70
This issue tracker is only to be used to report bugs or feature requests. This topic is more appropriate for the Arduino Forum. I'm sure we'll be able to help you with your problem over there.

Please do this:
1. Read http://forum.arduino.cc/index.php?topic=148850
2. If you haven't already done so, create a new thread in the appropriate section of the forum (http://forum.arduino.cc/), following al

[2021-03-16 02:02] #70 closed

[2021-04-12 06:48] #69 closed

[2021-04-21 17:52] adamgarbo commented on #68
I agree that the systick interrupt change should be added, but would note that code in the ArduinoLowPower library prevents the serial port from being reestablished after deep sleep. Currently, this does not occur when manually calling `USBDevice.detach()` and `USBDevice.attach()` and using the RTCZero `standbyMode()` functionality.

I also wonder if the ArduinoLowPower library is attaching and de

[2021-06-15 08:53] simon88 opened #73 "Error opening serial port after uploading code with rtc.begin"
Hi all,

I encouter a bug when I try to use RTCZero library with a personnal board build with an atsmad21e18a and Vscode. In my setup I initialise my rtc like this `rtc.begin()`, I upload my code everything works, but if I try to reupload another code after some changes for example I can't, because in vscode at left bottom I'am always in `Arduino uploading...`.
It's seem to have a problem with Ser

[2021-07-11 14:07] iKK001 opened #74 "RTCZero library also for Arduino Nano RP2040 Connect ?"
Will the RTCZero library also work for the ARDUINO NANO RP2040 CONNECT Board ?

If yes, when ?

[2021-09-20 16:12] ryandamico commented on #62
Great sleuthing. Was there any progress here?

[2021-09-20 20:16] pomplesiegel commented on #62
@ryandamico, I'm still using 1.5.2 as a result in order to avoid the issue.

[2021-11-04 09:42] aentinger opened #78 "Add GitHub Actions workflow to synchronise with shared repository labels"

[2021-12-16 09:18] #78 closed

[2022-01-26 18:08] Kealper commented on #62
Tossing my hat into the ring, I've got almost the same setup and noticed the same failure to wake from sleep after a few hours with 1.6.0, going to try 1.5.2 now to see if it stays working correctly. Hardware is the Adafruit Feather M0 with the built-in SX1276 LoRa module using RadioHead for interfacing with the module.

[2022-05-02 18:36] mklemarczyk opened #88 "Time in the future (Arduino 33 IoT)"
Hello, I have very particular issue when using the RTCZero with my Arduino 33 IoT.
I am working with WiFi, BT and time at the same time to control light strength in setup of LED and movement sensor.

I found your library to exploit the internal RTC clock. I set it from NTP server using WiFi. After that I shut down the WiFi and move to BT to expose the values for diagnostic.

After many tries witho

[2022-06-24 11:46] mklemarczyk commented on #88
Hello I made simple test, even without using BLE and WiFi the time shifts very much. How I can use it as alarm to wake me up in the morning if the time is so irrelevant after longer period of time ?

[code]
/*
  Simple RTC for Arduino Zero and MKR1000

  Demonstrates the use of the RTC library for the Arduino Zero and MKR1000

  This example code is in the public domain

  http://arduino.cc/en/Tut

[2022-06-24 12:28] mklemarczyk commented on #88
Test with new Arduino 33 IoT. Distribution from RS components.

[code]

[2022-06-28 07:23] Abravius opened #89 "Feature request: Adding a function using the register "FREQCORR" for clock correction"
Hi,

The RTC in my chip isn't really accurate. I think I'm not the only one

After some research in the CCP file, I haven't find any function that uses the "FREQCORR" register.

I think it would be very important to add a function to correct the clock.

Datasheet :

https://cdn.sparkfun.com/datasheets/Dev/Arduino/Boards/Atmel-42181-SAM-D21_Datasheet.pdf

Register in the page 262.

Thank you in ada

[2022-06-29 07:43] #89 closed

[2022-06-29 07:51] Abravius commented on #89
I've this solution :

`//Function used to correct the RTC clock

//<_Sign> :   If the correction must be positive (false) or negative (true)
//<_Value> :  Value to put in the register from 1 to 127.
void SetClockCorrection(bool _Sign, byte _Value)
{
  RTC->MODE2.FREQCORR.reg = (byte)_Sign << 8 || _Value;
}`

[2022-06-30 06:43] Abravius commented on #89
After 24 hours, same problem. I don't know why...

[2022-07-07 08:07] botkero commented on #62
I use RTCZero and MKRWAN and both separately work fine.
But together they do not work. RTCZero actually works normally? but it then stops at MKRWAN.
Unfortunately, the 1.5.2 version did not help me. Is there any way to verify that I am really using 1.5.2? According to the IDE 1.5.2 is installed.

[2022-07-13 03:11] patouse opened #90 "Day stays synced to GMT when time zone is GMT -8"
It's 07/12 in GMT-8 but shows 07/13 because it's passed midnight in GMT.
Also, the time it shows is 0-6:12:57 (hour has a - between digit 1 and 2)

[2022-10-06 13:09] balta1980 opened #91 "Please add a method for week day getWeekDay()"
Please, would you add a new method (maybe getWeekDay()) which return an integer, for example: 0 to 6, where 0: Sunday to 6: Saturday.

Thank you very much.

BJDS

[2022-10-06 13:20] per1234 commented on #91
Hi @balta1980 . Thanks for taking the time to submit an issue.

I see we have another report about this at https://github.com/arduino-libraries/RTCZero/issues/31.

It is best to have only a single issue per subject so we can consolidate all relevant discussion to one place, so I'll go ahead and close this in favor of the other.

If you end up with additional information to share, feel free to comm

[2022-10-06 13:20] #91 closed, assigned to per1234

[2022-11-08 15:40] botkero opened #94 "An alarm for every hour"
Hello,
I have trouble setting an alarm for each hour (because after 23/24h is over). Sometimes it works and sometimes not. I would like to have some certainty. With `enum Alarm_Match` you select a scope. Example `Match_SS`

If I now set `setAlarmSeconds(10)`, then the internal timer must land on a `10` and an alarm is triggered. The internal timer is not reset and counts up to 60 and then goes to

[2022-11-14 08:22] kangooF opened #95 "RTCzero library problem"
The problems I have encountered are more than one. Hardware, to use the internal clock which could also be convenient but forces to keep the 3.3 volt line powered with a buffer battery + diode powered by the whole circuit to which it gives power to sensors, various hardware and therefore with high battery consumption. As if that were not enough it seems inaccurate (he lost about ten minutes in a d